{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="messageDiv">
        <form action="./createTodo/" method="POST">{% csrf_token %}
            <div class="input-group">
                <input id="todoContent" name="todoContent" type="text" class="form-control" placeholder="메모할 내용을 적어주세요">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">메모하기!</button>
                </span>
            </div>
        </form>
    </div>

    <div class="toDoDiv">
        <ul class="list-group">
            {% for todo in todos %}
            <form action="./deleteTodo" method="GET">
                <div class="input-group" name='todo1'>
                    <li class="list-group-item">{{ todo.content }}</li>
                    <input type="hidden" id="id" name="id" value="{{ todo.id }}"></input>
                    <span class="input-group-addon">
                        <button type="submit" class="custom-btn btn btn-danger">완료</button>
                    </span>
                </div>
            </form>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}